form{

    display: flex;
    justify-content: space-evenly;
    
}

.Container{
display: flex;
flex-direction: column;
width: 300px;
}

body{

    background-color:#5BA2D5;
    width: 1003px;
    height: 543px;
}

.two{

    display: flex;
    flex-direction: column;
    width: 300px;
    align-content: center;
    
  
}

.three{

    display: flex;
    justify-content: right;
    width: 300px;
    flex-direction: column;

}
input{
    background-color: #5BA2D5;
    border: 2px solid white;
    
}

input:focus{

    color: #2C6998;
}

select{

    background-color: #5BA2D5;
    color: white;
    border: 2px solid white;

}

label{

    color: white;
    font-family: sans-serif;
    
}